sounddevice
google-genai
google-generativeai
pillow
requests
beautifulsoup4
duckduckgo-search
playwright
cloakbrowser
cloakbrowser-human
pyautogui
pyperclip
pygetwindow       
opencv-python
numpy
cvzone
mediapipe
mss
Pillow
psutil
comtypes
pycaw               
win10toast          
send2trash
youtube-transcript-api
pywinauto
python-pptx
openpyxl
python-docx
matplotlib
fpdf2
pdfplumber
pyqt6
pollinations.ai
protobuf>=7.35.0
openai
pandas
yt-dlp
uiautomator2
adbutils
apkutils
lxml
